*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
examples/*/.terraform.lock.hcl
examples/*/terraform.tfstate_backup
examples/*/terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
website/vendor
set_envs.sh
# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
.vscode
.gitcookies
scripts/getgocookie.sh
getgocookie.sh
terraform-provider-metalcloud
.terraform.lock.hcl

examples/complex_example/.terraform*
examples/simple_example/.terraform*
examples/simple_example/.terraform.lock.hcl
dist/

.env*
go.work
go.work.sum
